<!DOCTYPE html>
<html>

<head>
  <title>RTC PLAYER</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/stylePlayer.css" />
  <script src="https://src.litix.io/core/4/mux.js"></script>
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="js/adapter-7.4.0.min.js"></script>
  <script type="text/javascript" src="js/srs.sdk.js"></script>
  <script type="text/javascript" src="js/winlin.utility.js"></script>
  <script type="text/javascript" src="js/srs.page.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script>
    window.muxPlayerInitTime = Date.now();
  </script>
</head>

<body>
  <div id="app">
    <ul class="topnav">
      <li><a href="srs_player.html">HTTP Player</a></li>
      <li><a class="active" href="rtc_player.html">RTC Player</a></li>
      <li><a href="rtc_publisher.html">RTC Publisher</a></li>
    </ul>
    <div class="container">
      <div class="form-inline" style="margin-top: 20px">
        <div class="form">
          <div style="display: flex;align-items: center;margin-right: 20px;">URL:</div>
          <input type="text" id="txt_url" class="input-xxlarge" value="" v-model="url" @keyup.enter="onClickPlay" style="width: 330px;"/>
          <button class="btn btn-primary" id="btn_play" @click="onClickPlay" style="margin-left: 20px;">
            Play
          </button>
        </div>
      </div>
      <label></label>
      <div class="video_play">
        <video id="rtc_media_player" width="100%" controls autoplay></video>
      </div>
      <!-- <div>
        <i class="fa fa-eye" aria-hidden="true" id="icon_view" v-if="countViews > 0"></i>
        <span id="views" v-if="countViews > 0">{{ countViews }}</span>
      </div> -->
    </div>
  </div>

  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
    integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script type="text/javascript">
     $(function(){
        var sdk = null; // Global handler to do cleanup when replaying.
        var startPlay = function() {
            $('#rtc_media_player').show();
            // Close PC when user replay.
            if (sdk) {
                sdk.close();
            }

            sdk = new SrsRtcPlayerAsync();
            sdk.onaddstream = function (event) {
                console.log('Start play, event: ', event);
                $('#rtc_media_player').prop('srcObject', event.stream);
            };

            // For example:
            //      webrtc://r.ossrs.net/live/livestream
            var url = $("#txt_url").val();
            sdk.play(url).then(function(session){
                $('#sessionid').html(session.sessionid);
                $('#simulator-drop').attr('href', session.simulator + '?drop=1&username=' + session.sessionid);
            }).catch(function (reason) {
                sdk.close();
                $('#rtc_media_player').hide();
                console.error(reason);
            });
        };

        $('#rtc_media_player').hide();
        var query = parse_query_string();

        $("#btn_play").click(function() {
            $('#rtc_media_player').prop('muted', false);
            startPlay();
        });

        if (query.autostart === 'true') {
            $('#rtc_media_player').prop('muted', true);
            startPlay();
        }
        if (typeof mux !== 'undefined') {
            mux.monitor('#rtc_media_player', {
                debug: false,
                data: {
                    env_key: '4vun6ohrk3p0gg1g0933v2eq8', // required
                    // Metadata fields
                    player_name: 'Main Player', // any arbitrary string you want to use to identify this player
                    player_init_time: window.muxPlayerInitTime, // ex: 1451606400000
                    // ...

                    // Site Metadata
                    viewer_user_id: '12345', // ex: '12345'
                    experiment_name: 'player_test_A', // ex: 'player_test_A'
                    sub_property_id: 'cus-1', // ex: 'cus-1'
                    sub_property_id: 'cus-1', // ex: 'cus-1'

                    // Player Metadata
                    player_name: 'My Main Player', // ex: 'My Main Player'
                    player_version: '1.0.0', // ex: '1.0.0'
                    player_init_time: window.muxPlayerInitTime, // ex: 1451606400000

                    // Video Metadata
                    video_id: 'abcd123', // ex: 'abcd123'
                    video_title: 'My Great Video', // ex: 'My Great Video'
                    video_series: 'Weekly Great Videos', // ex: 'Weekly Great Videos'
                    video_duration: 120000, // in milliseconds, ex: 120000
                    video_stream_type: 'live', // 'live' or 'on-demand'
                    video_cdn: 'Akamai' // ex: 'Fastly', 'Akamai'
                }
            });
        }
    });
  </script>
</body>

</html>